@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,700;1,800&family=Prompt:wght@500&family=Ramaraja&display=swap');

/* variables to css */
:root {
    --body-family: 'Montserrat', sans-serif, 'Prompt', sans-serif;
}
body{
    font-family: var(--body-family);
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
.rotate {
    animation-name: rotation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear
}